src/.deps/
src/.libs/
**.o
**.lo
**.la
**:w
.deps**

.DS_Store

config.log
config.status

Makefile
configure~
doc/Makefile
src/Makefile
tests/Makefile
!tests/*.h
!tests/*.c
!tests/*.dat
tests/**
tools/bench/Makefile
tune/Makefile